<ul>
  <% @books.each do |book| %>
    <li>
      <h2><%= book.name %></h2>
      <% if book.categories.any? %>
        <ul>
          <% book.categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to_next_page @books, 'Load more' %>
